.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 3vh;
  }
  
  .example-full-width {
    width: 100%;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: darkcyan !important;
   }

   .lable-login-form{
    line-height: 35px;
    font-weight: bold;
    font-family: inherit;
   }
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: darkcyan !important;;
  }

  .clear{
    height: 80px;
  }
  .container-login{
    width:55%;margin: 0 auto;padding:10px;
  }

  @media screen and (max-width: 600px){
    .container-login {
      width:100%;
    }
  
    .example-form {
      max-width: unset;
    }
  
    .container-form{
      width: 100%!important;
    }
  
    .logo-img{
      display:none;
      width:unset!important;
      img {
        display: none
      }
    }

    .img-logo{
      display: none;
    }

    .clear{
      height: 0px;
    }
  }

  @media screen  and (min-width: 601px) and (max-width: 768px){
    .container-login {
      width:80%;
    }

  }

  @media screen and (min-width: 769px) and (max-width: 1068px){
    .container-login {
      width:70%;
    }

  }
  