<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo.jpeg" />
        </div>
        MBAKU
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <form class="navbar-form">
            <span class="bmd-form-group">
                <div class="input-group no-border">
                    <input [formControl]="keyword" type="text" value="" class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" (click)="search()" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </span>
        </form>

        <ul *ngIf="!isLogin" class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item" routerLinkActive="active" *ngFor="let menuItem of menuItems">
                <a class="nav-link" [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    {{menuItem.title}}
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav nav-mobile-menu" *ngIf="isLogin && isMember">
            <li routerLinkActive="active">
                <a class="nav-link" routerLink="/dashboard">
                    <i class="material-icons">dashboard</i>
                    {{'Dashboard'}}
                </a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-link" (click)="gotoProfile()">
                    <i class="material-icons">account_circle</i>
                    {{userInfo?.nama_lengkap}}
                </a>

            </li>
            <li routerLinkActive="active">
                <a class="nav-link" (click)="gotoHistory()">
                    <i class="material-icons">history</i> Riwayat Pembelian
                </a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-link" (click)="logout()">
                    <i class="material-icons">exit_to_app</i>
                    Keluar
                </a>
            </li>
        </ul>
    </div>
</div>